@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(243, 251, 251));
  //background-color: rgb(2, 38, 73); 
}
.app-title {
  color: red;
}

.yellow {
  color: yellowgreen;
}

.blue {
  color: blue;
}

.container-center {
  position: relative;
  margin: auto;
  width: fit-content;
}